@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  background: url("https://img.freepik.com/premium-vector/pastel-color-abstract-background-with-bokeh_31543-138.jpg?w=740");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.pagination {
  -moz-box-shadow: 0 0 20px #56244d;
  -webkit-box-shadow: 0 0 20px #56244d;
  box-shadow: 0 0 20px #56244d;
}

.paginationBody ul li button {
  font-size: 16px;
  font-weight: 700;
  color: rgb(172, 65, 172);
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: white;
  background-color: rgb(172, 65, 172) !important;
}
