@import  url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2");

.homePage{
    height: 100vh;
    display: flex;
    background: url('https://img.freepik.com/premium-vector/pastel-color-abstract-background-with-bokeh_31543-138.jpg?w=740');
    background-size: cover;
    background-position: center;
}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Meta", sans-serif;
}
.left__text{
    transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 3rem;
  text-align: center;
  color: palevioletred;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #482896;
  cursor: pointer;
}
.left__text:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }
.left__image{
    width: 65%;
    height: 50%;
    object-fit: contain;
    animation: animate 2s infinite ease alternate;
}
@keyframes animate {
    100%{
        transform: translateY(30px);
    }
}
.mainButton{
    padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
  margin-top: 25px;
  text-decoration: none;
  animation: animateButton 6s infinite ease alternate;
}
.mainButton:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
@keyframes animateButton {
    100%{
        transform: translateX(100px);
    }
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardContainer {
    width: 75%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .cardSlide {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .cardSlideFront,
  .cardSlideBack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(216, 49, 202, 0.918);
    transition: transform 0.7s;
  }
  
  .cardSlideFront {
    background-color: transparent;
    transform: translateY(0%);
  }
  
  .cardSlideBack {
    background: linear-gradient(#e4f077, #fff);
    color: #9e6cee;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 0.5s;
    font-size: 1rem;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  .cardContainer:hover .cardSlideFront {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(216, 102, 188, 0.822);
  }
  .cardContainer:hover .cardSlideBack {
    opacity: 1;
  }
  .cardSlideFront img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.secondPage{
  height: 100vh;
  /* background: url('https://img.freepik.com/free-photo/charming-curly-red-haired-woman-white-top-makes-bubble-gum-portrait-young-woman-orange-background_197531-14858.jpg?w=740&t=st=1696389394~exp=1696389994~hmac=ba075e15bfe1b0527b3043f5f221a555b30ce3aa92245e73cefc8de97cf248bc'); */
  background: url('https://img.freepik.com/premium-vector/abstract-vector-background-soft-pastel-gradation-bright-creative-ideas_29865-4151.jpg?w=900');
  background-size: cover;
  background-position: center;
  width:100vw;
  overflow: hidden;
  font-size: 1em;
  color:#FFF3E0;
  text-align:center;
  position: relative;
}
h2{
  font-size:2rem;
  margin-top:70px; 
  color:#fff;
  font-family: "Meta";
  font-weight: bold;
  letter-spacing: 7px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(221, 109, 212, 0.986));
  line-height: 0.7em;
  outline: none;
  animation: glow 5s linear infinite;
  /* animation-delay: 3s; */
}
@keyframes glow {
  0%,
  /* 18.1%, */
  55%{
    color: #ae4dfd;
    text-shadow: none;
  }
  /* 20.1%,
  60.2%, */
  100% {
    color: #ffff;
    text-shadow: 0 0 10px #adb5bd, 0 0 20px #adb5bd, 0 0 40px #212529,
      0 0 60px #adb5bd, 0 0 80px #212529, 0 0 140px #adb5bd;
  }
} 

.bubble{
  position:absolute;
  width:10em;
  height:10em;
  border-radius:50%;
  background: radial-gradient(circle, rgba(243,165,245,1) 0%, rgba(241,183,225,0.989233193277311) 100%);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.4), inset 1em 1em 1em rgba(255, 255, 255, 0.6), 0 1em 2em rgba(0, 0, 0, 0.25);
  z-index: 6;
}
.bubble:hover{
  display:none;
}

.b1{
  animation: floatup 10s linear infinite, sideways 5s ease-in-out infinite alternate;
  left: 10%;
  top:100%; 
}
.b2{
  animation: floatup 5s linear infinite, sideways 4s ease-in-out 1s infinite alternate;
  left: 15%;
  top: 30%;
  transform: scale(.7);
}
.b3{
  animation: floatup 4s linear infinite, sideways 6s ease-in-out 6s infinite alternate;
  left: 20%;
  transform: scale(1.2);
}
.b4{
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 3s infinite alternate;
  left: 25%;
  top:90%;
  transform: scale(.5);
}
.b5{
  animation: floatup 8s linear infinite, sideways 6s ease-in-out 3s infinite alternate;
  left: 30%;
  top:30%;
  transform: scale(1.1);
}
.b6{
  animation: floatup 7s linear infinite, sideways 4s ease-in-out 3.5s infinite alternate;
  left:40%;
  top:50%;
  transform: scale(.7);
}
.b7{
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 4s infinite alternate;
  left: 90%;
  top:90%;
  transform: scale(.6);
}
@keyframes floatup{
  0% {margin-top: 50%;}
  100% {margin-top: -50%;}
}
@keyframes sideways{
  0% {margin-left: 0em;}
  100%{margin-left: 20em;}
}
.container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image {
  width: 250px;
  height: 350px; 
  object-fit: cover;
  /* border-radius: inherit; */
  transform: scale(1.1);
  filter: grayscale(1);
  transition: 400ms ease;
}

.image:hover  {
  filter: grayscale(0);
  transform: scale(1);
}
