@import  url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2");

.homePage{
    height: 100vh;
    display: flex;
    background: url('https://img.freepik.com/premium-vector/pastel-color-abstract-background-with-bokeh_31543-138.jpg?w=740');
    background-size: cover;
    background-position: center;
}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Meta", sans-serif;
}
.left__text{
    transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 3rem;
  text-align: center;
  color: palevioletred;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #482896;
  cursor: pointer;
}
.left__text:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }
.left__image{
    width: 65%;
    height: 50%;
    object-fit: contain;
    animation: animate 2s infinite ease alternate;
}
@keyframes animate {
    100%{
        transform: translateY(30px);
    }
}
.mainButton{
    padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
  margin-top: 25px;
  text-decoration: none;
  animation: animateButton 6s infinite ease alternate;
}
.mainButton:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
@keyframes animateButton {
    100%{
        transform: translateX(100px);
    }
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardContainer {
    width: 75%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .cardSlide {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .cardSlideFront,
  .cardSlideBack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(216, 49, 202, 0.918);
    transition: transform 0.7s;
  }
  
  .cardSlideFront {
    background-color: #B00;
    transform: translateY(0%);
  }
  
  .cardSlideBack {
    background: linear-gradient(#e4f077, #fff);
    color: #9e6cee;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 0.5s;
    font-size: 1rem;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  .cardContainer:hover .cardSlideFront {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(216, 102, 188, 0.822);
  }
  .cardContainer:hover .cardSlideBack {
    opacity: 1;
  }
  .cardSlideFront img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
